#{extends 'main.html' /}
#{set title:'Spacebook' /}

<nav class="ui menu inverted"> 
  <a class="ui active item" href="/home"><i class= "home icon"></i>Home</a> 
  <a class="ui item" href="/members"><i class= "users icon"></i>Members</a> 
  <a class="ui item" href="/profile"><i class= "user icon"></i>Profile</a>
  <a class="ui item" href="/leaderboard"><i class= "user icon"></i>Leaderboard</a>  
  <div class="right menu">
  <a class="ui item" href="/login">Logout</a>      
</nav>

<p>
  Welcome to Spacebook!
</p>