#{extends 'main.html' /} #{set title:'Home' /}

<nav class="ui menu inverted">
	<header class="header item"> Spacebook </header>
	<a class="ui active item" href="/home"><i class= "home icon"></i>Home</a> 
	<a class="ui item" href="/members"><i class= "users icon"></i>Members</a> 
	<a class="ui item" href="/profile"><i class= "user icon"></i>Profile</a>
	<a class="ui item" href="/leaderboard"><i class="list icon"></i>Leaderboard</a>
	<div class="right menu">
	<a class="ui item" href="/login"><i class= "off icon"></i>Logout</a>
	</div>
</nav>

<section class="ui segment ">
	<h2 class="ui header">SpaceBook: Home page for ${user.firstName}
		${user.lastName}</h2>
	<div class="ui two column grid segment">
		<div class="ui row">
			<div class="ui column">
				<h2>Friends (${user.friendships.size()})</h2>
				<div class="ui list">
					#{list items:user.friendships, as:'friendship'}
					<div class="item">
						<i class="right triangle icon"></i> <a
							href="/publicprofile/${friendship.targetUser.id}">
							${friendship.targetUser.firstName}
							${friendship.targetUser.lastName}</a> (<a
							href="/home/drop/${friendship.targetUser.id}"> drop </a>)
					</div>
					#{/list}
				</div>
			</div>
			<div class="ui column">
				<h2>Messages</h2>
				<table class="ui table inverted green segment">
										
					#{list items:user.inbox, as:'message'}
					<tr>
					<td><img class="ui avatar image"
								src="/profile/getpicture/${message.from.id}"></td>
					<td><a href="/publicprofile/${message.from.id}">${message.from.firstName}${message.from.lastName}</a>
					</td>
				    <td>${message.messageText}</td>
					</tr>
					#{/list}
				</table>
				<a class="mini ui green button" href="/home">By Date </a>
          		<a class="mini ui green button" href="/home/byuser"> By User </a>
          		<a class="mini ui green button" href="/home/byconversation"> By Conversation </a>
</section>


